@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


:root{
    --fonte-destaque: "Ubuntu", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: var(--fonte-destaque);
}

p{
    font-family: var(--fonte-destaque);
}

button{
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: var(--fonte-destaque);
    background-color: rgb(7, 5, 10);
    color: white;
    padding: 3vw;
    width: 100vw;
    overflow: hidden;
}

header button{
    padding: 1.25vw;
    border: none;
    background-color: rgba(123, 88, 200, 0.673);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

main form{
    display: none;
    background-color: rgba(72, 19, 185, 0.633);
    color: white;
    padding: 2vw;
}

#container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    align-items: center;
}

form button{
    padding: 1vw;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: black;
}

form input{
    padding: 0.8vw;
    border: none;
    border-radius: 8px;
}

#msgError {
    display: none;
    margin-top: 2vw;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.195);
    padding: 2vw;
    width: fit-content;
    border-radius: 8px;
}

section{
    display: none;
    background-color: rgba(72, 19, 185, 0.633);
}

section li{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    border-top: 1px solid rgba(0, 0, 0, 0.123);
}

section button{
    padding: 1vw;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}

@media (max-width: 800px) {
    header button{
        width: 50vw;
        padding: 2vw;
    }
    
    main form{
        padding: 4vw;
    }

    form input{
        padding: 1.2vw;
    }
}